*{
font-family: Helvetica; 
}

h2{
font-size: 32px;
font-weight: bold;
color: white;
}

h1{ 
text-align: center;
font-size: 100px;
color: khaki;
background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1xvyprj*_ga*OTc0OTE5NTY5Mi4xNjc0MjI4MjY2*_ga_3LRZM6TM9L*MTY3NTk2MjA4Ni4yNS4xLjE2NzU5NjQ1MDkuMC4wLjA.);
}
.brushes h3{
font-weight: bold;
}

.price-tag{

font-weight: bold;
color: blue;
}

.brushes h2{
background-color: mediumspringgreen;
}

.frames h2{
background-color: lightcoral;
}

.clean-paint h2{
background-color: skyblue;
}